<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Text Page</Name>
    <Alias>TextPage</Alias>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <AllowedTemplates>
      <Template>TextPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>TextPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Type>Umbraco.Grid</Type>
      <Definition>21944c98-8e32-4475-807d-61a60c1ab070</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>17</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>