<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="StartupDeveloperDashboardSection">
        <areas>
          <area>developer</area>
        </areas>
        <tab caption="uSync Dashboard">
          <control>/Umbraco/Plugins/usync/uSyncUi.ascx</control>
        </tab>
    </section>
</dashBoard>