<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>rte</Name>
  <FileName>
  </FileName>
  <Content><![CDATA[]]></Content>
  <Properties>
    <Property>
      <Name>Header</Name>
      <Alias>h1</Alias>
      <Value>font-size: 1.5rem;</Value>
    </Property>
    <Property>
      <Name>Header 2</Name>
      <Alias>h2</Alias>
      <Value>font-size: 1.4rem;</Value>
    </Property>
    <Property>
      <Name>Header 3</Name>
      <Alias>h3</Alias>
      <Value>font-size: 1.2rem;</Value>
    </Property>
    <Property>
      <Name>Smooth</Name>
      <Alias>h5</Alias>
      <Value>font-size: 1rem; font-weight: 100;</Value>
    </Property>
    <Property>
      <Name>Paragraph</Name>
      <Alias>p</Alias>
      <Value>font-size: 1rem;</Value>
    </Property>
    <Property>
      <Name>Blockquote</Name>
      <Alias>blockquote</Alias>
      <Value>font-style: italic;</Value>
    </Property>
  </Properties>
</Stylesheet>