<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Post Repository</Name>
    <Alias>BlogPostRepository</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions />
    <AllowedTemplates>
      <Template>BlogOverview</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogOverview</DefaultTemplate>
    <Container>True</Container>
  </Info>
  <Structure>
    <DocumentType>BlogPost</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Hide in bottom navigation?</Name>
      <Alias>umbracoNaviHide</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>